
  
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

@-ms-viewport {
    width: device-width;
    }
  
body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

ul {
    list-style-type: none;
}

/* Style the button that is used  */
li {
    background-color: rgb(202, 195, 195);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, li:hover {
    background-color: rgb(167, 155, 155);
  }
