
  
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

@-ms-viewport {
    width: device-width;
    }
  
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }

  .add-bookmark-form{
    list-style-type: none;
    display: inline-block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
  }

.container {
    display: block;
    margin-top: 0em;
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 960px; 
    padding-right: 10px; 
    padding-left:  10px;
    }

ul {
    list-style-type: none;
}

/* Style the button that is used  */
li {
    background-color: rgb(202, 195, 195);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
  }
  
table {
  background-color: rgb(202, 195, 195);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, li:hover {
    background-color: rgb(167, 155, 155);
  }

  .rating {
    display: inline-block;
    vertical-align: middle;
  }
  